#include "resource.h"

//VERSION INFO
1 VERSIONINFO
FILEVERSION 1,0,0,0
FILEOS 0x00000004
FILETYPE 0x00000001
BEGIN
BLOCK "StringFileInfo"
BEGIN
 BLOCK "040904E4"
 BEGIN
  VALUE "ProductName", "Alliance Updater\0"
  VALUE "CompanyName", "Alliance\0"
  VALUE "FileDescription", "Alliance Updater\0"
  VALUE "LegalCopyright", "No rights reserved. Author Bastvera\0"
  VALUE "ProductVersion", "1.0.0.0\0"
 END
END
BLOCK "VarFileInfo"
BEGIN
  VALUE "Translation",0x0409, 0x04e4
END
END

//ICONS
IDI_ICON       ICON         "updater.ico"
